/venv
.env
__pycache__/
__pycache__
data/*.csv
data/*.pdf
data/*/*
test/*/*/*/*.json
*.zip
cache/
user_data_app/charts/
models/catboost_info
models/mlruns
modelo_ml_tradicional/mlruns
.venv
/modelo_ml_tradicional/Evah
/data/Evah
*.sh